html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  overscroll-behavior: none;
}

.canvas-container {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

.canvas-container canvas {
  pointer-events: auto;
}

.App {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
